<h1>Index</h1>

<h2>This is content of welcome.vm</h2>

<form action="save" method="post">
    <input name="name" type="text"/>
    <input name="age" type="text">
    <input type="submit" value="sub" />
</form>

<form>
    <input type="text" id="msg" />
    <input type="button" id="send" value="send" />
</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="/static/js/sockjs.js"></script>
<script type="text/javascript">
    $(function () {


        var sock = new SockJS("http://localhost:8080/war/myHandler");
        sock.onopen = function () {
            console.log("---connected..---")
        }
        sock.onmessage = function (e) {
            console.log("server msg:"+e.data);
        }
        $("#send").click(function () {
            sock.send(JSON.stringify({type:'text',message: $("#msg").val()}));
        });
    })
</script>